.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  margin: 0 auto;


}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content:space-between;
}

.nav__logo {

  width: 58px;
  height:80px;

}

.nav__links {
   display: flex;
   flex-direction: row;
  margin: 8px 0 0;
  list-style-type:none;
  column-gap: 20px;
  margin-top: 8px;
  padding: 0;

}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;

}

.header__content {
  display: flex;
justify-content:space-between;


}

.header__title {
  font-size:62px;
 line-height:76px;
 font-weight:500;
 max-width: 635px;
 margin-bottom: 32px;
 margin-top: 128px;

}

.header__description {
  font-size: 20px;
  line-height: 30px;
  max-width: 515px;

}

.header__image {
max-width: 636px
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}
.staff{
background-image: url(../images/staff_picks_background.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
 padding: 100px 0 140px;
}

.staff__cards{
  display: flex;
  flex-wrap: wrap;
  max-width: 760px;
  margin:0 auto 0 auto ;
  column-gap: 40px;
  row-gap: 40px;
  list-style-type: none;
  padding-left: 0px;
  border-radius: 20px;


}
.staff__title{
  text-align: center;
  color: #fff;
  font-size: 44px;
  line-height: 52px;
  font-weight: 400px;
  margin:0 0 24px;

}
.staff__subtitle{
  text-align: center;
  margin: 0;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;

}
.card{
  width: 360px;
  height: 420px;
  background-color: #fff;
  border-radius: 20px;

}
.card__title{
  font-size: 20px;
  line-height: 30px;
  font-weight: 700px;
  margin: 0;
}
.card__text{
 line-height: 24px;
 font-size: 16px;
 margin: 20px 0 0;


}
.card__footer{
  font-size: 14px;
  margin: 0;
  line-height: 20px;
  color: #838383;
}
.card__content{
   font-size: 14px;
  margin: 0;
  
}
